# IDE
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/vcs.xml
.DS_Store

# Build artifacts
/build
/*/build
.cxx
.externalNativeBuild

# Kotlin
.kotlin

# Logs
*.log

# Android Studio captures
/captures

# Secrets & Signing
*.jks
*.keystore
google-services.json
